/* Write your CSS code here */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: 0px solid none;
}
.h {
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin: 4px;
}
.p {
  color: grey;
  font-size: 12px;
}
.img {
  height: 100px;
  width: 80px;
  border: 0px solid none;
  border-radius: 8px;
}
